In [2]:
import pandas as pd

In [4]:

allData = pd.read_csv("./Citation Dataset/AuthorNodes.csv", sep=",", names=["art","name"])
print(allData.shape)
allData.sample(5)

(58340, 2)

           art              name
23506  9210113      C. P. Martin
36875  9512207        Bokai Yang
56417  9909067   Gavin Johnstone
49142  9805048        Nick Evans
50164  9807081  A. Gangopadhyaya

In [6]:
unique = allData.name.unique()

In [8]:
pd.DataFrame(unique).to_csv("./Citation Dataset/Authors.csv", header=False, index=False)